.title-onemusic{
    text-align: center;
    margin-top: 45px;
}
.search-group{
    margin-left: 250px;
    margin-top: 50px;
}

.chart-style{
    text-align: center;
    margin: auto;
    max-width: 800px;
    max-height: 800px;
}