.recommend-title{
    text-align: center;
    margin-top: 45px;
}
.recommend-input{
    margin-left: 250px;
    margin-top: 50px;
}

.recommend-musicinfo{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: rgb(220, 233, 253);
    padding-top: 15px;
    border-radius: 8px;
}